html {
  background: #000000;
  background: -moz-linear-gradient(top, #6b6b6b 0%, #000000 100%) no-repeat;
  background: -webkit-linear-gradient(top, #6b6b6b 0%, #000000 100%) no-repeat;
  background: linear-gradient(to bottom, #6b6b6b 0%, #000000 100%) no-repeat;
  min-height: 100%;
}

body {
  display: flex;
}

.center {
  width: 50%;
  margin: 0 auto auto auto;
  text-align: center;
}

.center2 {
  width: 80vw;
  margin: auto;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.3);
  padding: 7px;
  border-bottom: none;
  transform: translateX(-15%);
}

.right {
  float: right;
}

.left {
  float: left;
  position: absolute;
  top: 5px;
  left: 5px;
  border: 2px solid gray;
  padding: 5px;
}

h1 {
  color: #000000;
  text-decoration: underline;
}

h2, h3, h4, li, p {
  color: #ffffff;
}

a {
  color: #55cfff;
}

a:hover {
  color: lightblue;
}

#bugreport {
  color: #ae4c55;
}

#bugreport:hover {
  color: darkred;
}

#title {
  color: rgba(255, 255, 255, 0.3);
  text-shadow: 0 0 15px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5);
}

.pages {
  position: relative;
  top: 27px;
  text-align: right;
  width: 1.5in;
  background-color: gray;
}

.pages a {
  padding-right: 5px;
  border-right: 2px solid #55cfff;
}

.pages a:hover {
  padding-right: 5px;
  border-right: 2px solid lightblue;
}

.pages h4 {
  margin-bottom: -12px;
  text-align: center;
  margin-top: -22px;
  background-color: #55cfff;
}

.links {
  position: relative;
  top: 40px;
  text-align: right;
  width: 1.5in;
  background-color: gray;
}

.links a {
  padding-right: 5px;
  border-right: 2px solid #55cfff;
}

.links a:hover {
  padding-right: 5px;
  border-right: 2px solid lightblue;
}

.links h4 {
  margin-bottom: -12px;
  text-align: center;
  margin-top: -22px;
  background-color: #55cfff;
}

footer {
  position: fixed;
  bottom: 5px;
}

footer h4 {
  margin-bottom: -22px;
  margin-left: 2.5in;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}